body {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 50px;
    font-family: Arial, sans-serif;
}

button {
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
}

#ft_list {
    width: 300px;
    margin-top: 20px;
}

.todo {
    background: lightblue;
    padding: 10px;
    margin: 5px 0;
    cursor: pointer;
    text-align: center;
    border-radius: 5px;
}
