body {
    font-family: Arial, sans-serif;
    text-align: center;
    margin: 0;
    padding: 50px;
}
table {
    width: 100%;
    border-collapse:collapse;
}
td {
    padding: 50px;
    border: 2px solid black;
    font-size: 20px;
}
.b1 {
    background-color: turquoise;
}
.b2 {
    background-color: burlywood;
}